.g-bg-blue {
    background-color: #0170bbc4 !important;
}


.g-mt-20 {
    margin-top: 1rem !important;
}

.nav-link {
    color: #332b9c !important;
}

.g-bg-main--hover:hover {
    background-color: #0170bb !important;
}

.u-block-hover:hover .g-color-primary--hover, .g-color-primary--hover:hover {
    color: #ddd !important;
}

.nav-link {
    color: #f6f5fb !important;
}

.hs-sub-menu .nav-link {
    color:#332b9c !important
}

.list-unstyled .nav-link {
    color:#332b9c !important
}

.g-color-gray-dark-v5--hover:hover {
    color: #052c52 !important;
}

.tp-bullet {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    background: rgba(255,255,255,.3);
    cursor: pointer;
}

.tp-bannertimer{
    height: 3px !important; 
    background: rgba(255, 255, 255, 0.87) !important;
    width: 8.42222%;
    visibility: visible;
    transform: translate3d(0px, 0px, 0px);
}

.p-r {
    position: relative;
}

h4.text-center.g-color-white:after{
    content: ' ';
    position: absolute;
    width: 0;
    height: 0px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #268ac6;
    left: 50%;
    margin-left: -15px;
    z-index: 9999999999999;
    margin-top: 49px;
}